extends layout

block content
    link(rel='stylesheet', href='/stylesheets/elements.css')
    
    div(class='container home-div')
        div(class='home-div-item-select')
            a(href="/") 
                div(class='home-div-item-select-item-title') Playlists
            script(src="/javascripts/tools.js") 
            for playlist in playlists
                div(class='home-div-item-select-item', id='playlist_' + playlist.id )= playlist.name
                script.
                    document.getElementById('playlist_' + #{playlist.id}).addEventListener('click', function() {
                        fetch('/home/playlist/' + #{playlist.id},
                            {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }
                        )
                        .then(response => response.json())
                        .then(data => {
                            if(data.success) {
                                playlist_select() 

                                const playlist = data.playlist;
                                //update name
                                const playlist_div = document.getElementById('playlist_' + playlist.id)
                                playlist_div.innerHTML = playlist.name

                                //clear tools
                                clear_tools_bar();

                                //set up tools
                                add_title('⮕ ' + playlist.name, '/home/playlist/' + playlist.id + '/update', playlist_div);
                                add_tool_toggle(playlist.public, 'Public', 'green', '1', 'Private', 'red', '2', '/home/playlist/' + playlist.id + '/update', 'public');
                                add_song_dropbox('/home/playlist/' + playlist.id + '/add_song');
                                add_delete_playlist('/home/playlist/' + playlist.id + '/delete', playlist_div);
                            }else{
                                alert(data.message)
                            }
                        })
                        //unselect selected playlist
                        function playlist_unselect_all(){
                            const playlist_divs = document.getElementsByClassName('home-div-item-select-item');
                            for(let i = 0; i < playlist_divs.length; i++){
                                playlist_divs[i].style.color = '';
                                playlist_divs[i].class = 'home-div-item-select-item';
                            }
                        }

                        function playlist_select(){
                            playlist_unselect_all();
                            const playlist_element = document.getElementById('playlist_' + #{playlist.id});
                            playlist_element.style.color = 'rgba(255, 255, 255)';
                        }
                    });
                    
            div(class='home-div-item-select-item', id='create_playlist', style='background-color: rgb(69, 68, 68);') CREATE NEW
            
        div(class='home-div-item-content')
            link(rel='stylesheet', href='/stylesheets/content.css')
            div(class='nav-bar-div')
                div(class='nav-bar-div-item', id='view_playlist')= 'View Playlist'
                div(class='nav-bar-div-item', id='search_songs' )= 'Search Songs'
                div(class='nav-bar-div-item', id='search_playlist')= 'Search Playlists'
                div(class='nav-bar-div-item', id='followed_playlists')= 'Followed Playlists'
            
            div(id='middle_content')
            script(src="/javascripts/middle_content.js") 

        div(class='home-div-item-content-options')
            div(class='home-div-item-select-item-title') Tools
            div(id='tools_bar')
                div(class='home-div-item-content-options-title') No Playlist Selected
    
    // create playlist button
    script.
        const add_playlist = document.getElementById('create_playlist');

        // Add event listener to add playlist button
        add_playlist.addEventListener('click', () => {
            //fetch home/create_playlist
            fetch('/home/create_new_playlist',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
            )
            .then(response => response.json())
            .then(data => {
                if(data.success) {

                    //reload page
                    location.reload();
                    
                }else{
                    alert(data.message)
                }
            })
        });


        
  
